In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
import numpy as np
 
#Load Data with pandas, and parse the first column into datetime
data=pd.read_csv('data/district7.csv')
data.head()

/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Unnamed: 0,DATE,CCN,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum
0,0,2008-01-01,10,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42
1,1,2008-01-02,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32
2,2,2008-01-03,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40
3,3,2008-01-04,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28
4,4,2008-01-05,7,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24

In [2]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,DATE,CCN,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum
0,2008-01-01,10,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42
1,2008-01-02,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32
2,2008-01-03,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40
3,2008-01-04,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28
4,2008-01-05,7,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24

In [3]:
data.rename(columns={"CCN": "CRIME-COUNT"}, inplace=True)

In [4]:
data['bins'] = np.nan

In [5]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum,bins
0,2008-01-01,10,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42,NaN
1,2008-01-02,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32,NaN
2,2008-01-03,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40,NaN
3,2008-01-04,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28,NaN
4,2008-01-05,7,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24,NaN

In [6]:
data['CRIME-COUNT'].describe()

count    4199.000000
mean        9.683020
std         3.767072
min         1.000000
25%         7.000000
50%         9.000000
75%        12.000000
max        25.000000
Name: CRIME-COUNT, dtype: float64

In [7]:
data.loc[data['CRIME-COUNT']<=3, ['bins']] = 'VeryLow'

In [8]:
data.loc[(data['CRIME-COUNT']>=4) & (data['CRIME-COUNT']<=7), ['bins']] = 'Low'

In [9]:
data.loc[(data['CRIME-COUNT']>=8) & (data['CRIME-COUNT']<=11), ['bins']] = 'Medium'

In [10]:
data.loc[(data['CRIME-COUNT']>=12) & (data['CRIME-COUNT']<=15), ['bins']] = 'High'

In [11]:
data.loc[(data['CRIME-COUNT']>=16, ['bins'])] = 'VeryHigh'

In [12]:
# data.loc[data['CRIME-COUNT']<=80, ['bins']] = 'Low'

In [13]:
# data.loc[(data['CRIME-COUNT']>=81) & (data['CRIME-COUNT']<=100), ['bins']] = 'Medium'

In [14]:
# data.loc[data['CRIME-COUNT']>=101, ['bins']] = 'High'

In [15]:
data['bins'].value_counts()

Medium      1674
Low         1126
High         963
VeryHigh     294
VeryLow      142
Name: bins, dtype: int64

In [16]:
data.isnull().any()

DATE           False
CRIME-COUNT    False
STATION        False
NAME           False
AWND           False
PRCP           False
SNOW           False
SNWD           False
TMAX           False
TMIN           False
Day            False
Date           False
Month          False
Year           False
Illum          False
bins           False
dtype: bool

In [17]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum,bins
0,2008-01-01,10,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42,Medium
1,2008-01-02,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32,Low
2,2008-01-03,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40,Low
3,2008-01-04,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28,Low
4,2008-01-05,7,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24,Low

In [18]:
X = data.drop(["bins", "DATE", "STATION", "NAME", "CRIME-COUNT", "Year"], axis=1)
y = data["bins"]

In [19]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,Day,Date,Month,Year,Illum,bins
0,2008-01-01,10,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,3,1,1,2008,0.42,Medium
1,2008-01-02,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,6,1,2,2008,0.32,Low
2,2008-01-03,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,7,1,3,2008,0.40,Low
3,2008-01-04,6,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,3,1,4,2008,0.28,Low
4,2008-01-05,7,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,5,1,5,2008,0.24,Low

In [20]:
# X['TMAX'] = X['TMAX'].astype(float)
# X['TMIN'] = X['TMIN'].astype(float)
# X['Month'] = X['Month'].astype(float)
# X['Date'] = X['Date'].astype(float)
# X['Day'] = X['Illum'].astype(float)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [24]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [25]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [26]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=10))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='sigmoid'))
model.add(Dense(units=100, activation='tanh'))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='relu'))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='tanh'))
model.add(Dropout(.1))
model.add(Dense(units=100, activation='relu'))
model.add(Dropout(.1))
model.add(Dense(units=5, activation='softmax'))

WARNING: Logging before flag parsing goes to stderr.
W0822 19:28:31.757611 4444743104 deprecation.py:506] From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [27]:
model.compile(optimizer='nadam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               1100
_________________________________________________________________
dropout (Dropout)            (None, 100)               0
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_3 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_5 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_4 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_6 (Dense)              (None, 5)                 505
=================================================================
Total params: 52,105
Trainable params: 52,105
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
3149/3149 - 1s - loss: 1.3946 - acc: 0.3719
Epoch 2/100
3149/3149 - 0s - loss: 1.3708 - acc: 0.3846
Epoch 3/100
3149/3149 - 0s - loss: 1.3688 - acc: 0.3858
Epoch 4/100
3149/3149 - 0s - loss: 1.3505 - acc: 0.3862
Epoch 5/100
3149/3149 - 0s - loss: 1.3448 - acc: 0.3890
Epoch 6/100
3149/3149 - 0s - loss: 1.3429 - acc: 0.3862
Epoch 7/100
3149/3149 - 0s - loss: 1.3357 - acc: 0.3970
Epoch 8/100
3149/3149 - 0s - loss: 1.3346 - acc: 0.3941
Epoch 9/100
3149/3149 - 0s - loss: 1.3339 - acc: 0.3976
Epoch 10/100
3149/3149 - 0s - loss: 1.3326 - acc: 0.3877
Epoch 11/100
3149/3149 - 0s - loss: 1.3349 - acc: 0.3976
Epoch 12/100
3149/3149 - 0s - loss: 1.3318 - acc: 0.3970
Epoch 13/100
3149/3149 - 0s - loss: 1.3287 - acc: 0.4008
Epoch 14/100
3149/3149 - 0s - loss: 1.3336 - acc: 0.3941
Epoch 15/100
3149/3149 - 0s - loss: 1.3271 - acc: 0.3989
Epoch 16/100
3149/3149 - 0s - loss: 1.3257 - acc: 0.3954
Epoch 17/100
3149/3149 - 0s - loss: 1.3233 - acc: 0.3916
Epoch 18/100
3149/3149 - 0s - loss: 1.3278 - acc: 0.3966
Epoch 19/100
3149/3149 - 0s - loss: 1.3236 - acc: 0.4008
Epoch 20/100
3149/3149 - 0s - loss: 1.3226 - acc: 0.3998
Epoch 21/100
3149/3149 - 0s - loss: 1.3233 - acc: 0.4014
Epoch 22/100
3149/3149 - 0s - loss: 1.3232 - acc: 0.4039
Epoch 23/100
3149/3149 - 0s - loss: 1.3238 - acc: 0.3998
Epoch 24/100
3149/3149 - 0s - loss: 1.3216 - acc: 0.3992
Epoch 25/100
3149/3149 - 0s - loss: 1.3180 - acc: 0.3976
Epoch 26/100
3149/3149 - 0s - loss: 1.3236 - acc: 0.4011
Epoch 27/100
3149/3149 - 0s - loss: 1.3230 - acc: 0.3963
Epoch 28/100
3149/3149 - 0s - loss: 1.3189 - acc: 0.4001
Epoch 29/100
3149/3149 - 0s - loss: 1.3187 - acc: 0.3998
Epoch 30/100
3149/3149 - 0s - loss: 1.3181 - acc: 0.3982
Epoch 31/100
3149/3149 - 0s - loss: 1.3134 - acc: 0.4014
Epoch 32/100
3149/3149 - 0s - loss: 1.3167 - acc: 0.4033
Epoch 33/100
3149/3149 - 0s - loss: 1.3157 - acc: 0.4027
Epoch 34/100
3149/3149 - 0s - loss: 1.3162 - acc: 0.3985
Epoch 35/100
3149/3149 - 0s - loss: 1.3171 - acc: 0.4023
Epoch 36/100
3149/3149 - 0s - loss: 1.3197 - acc: 0.3992
Epoch 37/100
3149/3149 - 0s - loss: 1.3205 - acc: 0.4008
Epoch 38/100
3149/3149 - 0s - loss: 1.3130 - acc: 0.4030
Epoch 39/100
3149/3149 - 0s - loss: 1.3120 - acc: 0.4030
Epoch 40/100
3149/3149 - 0s - loss: 1.3163 - acc: 0.4020
Epoch 41/100
3149/3149 - 0s - loss: 1.3134 - acc: 0.4020
Epoch 42/100
3149/3149 - 0s - loss: 1.3085 - acc: 0.4030
Epoch 43/100
3149/3149 - 0s - loss: 1.3154 - acc: 0.4068
Epoch 44/100
3149/3149 - 0s - loss: 1.3140 - acc: 0.4049
Epoch 45/100
3149/3149 - 0s - loss: 1.3113 - acc: 0.4004
Epoch 46/100
3149/3149 - 0s - loss: 1.3091 - acc: 0.4033
Epoch 47/100
3149/3149 - 0s - loss: 1.3134 - acc: 0.4008
Epoch 48/100
3149/3149 - 0s - loss: 1.3148 - acc: 0.4020
Epoch 49/100
3149/3149 - 0s - loss: 1.3124 - acc: 0.4008
Epoch 50/100
3149/3149 - 0s - loss: 1.3166 - acc: 0.3995
Epoch 51/100
3149/3149 - 0s - loss: 1.3107 - acc: 0.4023
Epoch 52/100
3149/3149 - 0s - loss: 1.3117 - acc: 0.4027
Epoch 53/100
3149/3149 - 0s - loss: 1.3103 - acc: 0.4055
Epoch 54/100
3149/3149 - 0s - loss: 1.3089 - acc: 0.4049
Epoch 55/100
3149/3149 - 0s - loss: 1.3091 - acc: 0.4027
Epoch 56/100
3149/3149 - 0s - loss: 1.3098 - acc: 0.3985
Epoch 57/100
3149/3149 - 0s - loss: 1.3107 - acc: 0.4039
Epoch 58/100
3149/3149 - 0s - loss: 1.3087 - acc: 0.4036
Epoch 59/100
3149/3149 - 0s - loss: 1.3091 - acc: 0.4008
Epoch 60/100
3149/3149 - 0s - loss: 1.3078 - acc: 0.4043
Epoch 61/100
3149/3149 - 0s - loss: 1.3083 - acc: 0.4020
Epoch 62/100
3149/3149 - 0s - loss: 1.3047 - acc: 0.4077
Epoch 63/100
3149/3149 - 0s - loss: 1.3091 - acc: 0.4077
Epoch 64/100
3149/3149 - 0s - loss: 1.3061 - acc: 0.4039
Epoch 65/100
3149/3149 - 0s - loss: 1.3064 - acc: 0.4055
Epoch 66/100
3149/3149 - 0s - loss: 1.3057 - acc: 0.4084
Epoch 67/100
3149/3149 - 0s - loss: 1.3093 - acc: 0.4058
Epoch 68/100
3149/3149 - 0s - loss: 1.3026 - acc: 0.4052
Epoch 69/100
3149/3149 - 0s - loss: 1.3046 - acc: 0.4055
Epoch 70/100
3149/3149 - 0s - loss: 1.3052 - acc: 0.4036
Epoch 71/100
3149/3149 - 0s - loss: 1.3019 - acc: 0.4112
Epoch 72/100
3149/3149 - 0s - loss: 1.3026 - acc: 0.4027
Epoch 73/100
3149/3149 - 0s - loss: 1.3052 - acc: 0.4033
Epoch 74/100
3149/3149 - 0s - loss: 1.3013 - acc: 0.4033
Epoch 75/100
3149/3149 - 0s - loss: 1.3016 - acc: 0.4065
Epoch 76/100
3149/3149 - 0s - loss: 1.3015 - acc: 0.4100
Epoch 77/100
3149/3149 - 0s - loss: 1.2988 - acc: 0.4039
Epoch 78/100
3149/3149 - 0s - loss: 1.2967 - acc: 0.4106
Epoch 79/100
3149/3149 - 0s - loss: 1.3006 - acc: 0.4068
Epoch 80/100
3149/3149 - 0s - loss: 1.3009 - acc: 0.4090
Epoch 81/100
3149/3149 - 0s - loss: 1.3034 - acc: 0.4058
Epoch 82/100
3149/3149 - 0s - loss: 1.2989 - acc: 0.4122
Epoch 83/100
3149/3149 - 0s - loss: 1.2957 - acc: 0.4090
Epoch 84/100
3149/3149 - 0s - loss: 1.2953 - acc: 0.4103
Epoch 85/100
3149/3149 - 0s - loss: 1.2987 - acc: 0.4093
Epoch 86/100
3149/3149 - 0s - loss: 1.2999 - acc: 0.4090
Epoch 87/100
3149/3149 - 0s - loss: 1.2990 - acc: 0.4103
Epoch 88/100
3149/3149 - 0s - loss: 1.2958 - acc: 0.4074
Epoch 89/100
3149/3149 - 0s - loss: 1.2972 - acc: 0.4074
Epoch 90/100
3149/3149 - 0s - loss: 1.2939 - acc: 0.4077
Epoch 91/100
3149/3149 - 0s - loss: 1.2962 - acc: 0.4097
Epoch 92/100
3149/3149 - 0s - loss: 1.2933 - acc: 0.4068
Epoch 93/100
3149/3149 - 0s - loss: 1.2958 - acc: 0.4077
Epoch 94/100
3149/3149 - 0s - loss: 1.2923 - acc: 0.4141
Epoch 95/100
3149/3149 - 0s - loss: 1.2979 - acc: 0.4049
Epoch 96/100
3149/3149 - 0s - loss: 1.2971 - acc: 0.4103
Epoch 97/100
3149/3149 - 0s - loss: 1.2984 - acc: 0.4100
Epoch 98/100
3149/3149 - 0s - loss: 1.2885 - acc: 0.4141
Epoch 99/100
3149/3149 - 0s - loss: 1.2900 - acc: 0.4062
Epoch 100/100
3149/3149 - 0s - loss: 1.2939 - acc: 0.4109

In [30]:
# X_train_scaled

In [31]:
# y_train_categorical.shape

In [32]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

1050/1050 - 0s - loss: 1.3498 - acc: 0.4067
Normal Neural Network - Loss: 1.3497909050896055, Accuracy: 0.40666666626930237

In [33]:
encoded_predictions = model.predict_classes(X_test_scaled[:30])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [34]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:30])}")

Predicted classes: ['Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium'
 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium' 'Medium'
 'Medium' 'Medium' 'Medium' 'Low' 'Medium' 'Medium' 'Medium' 'Medium'
 'Medium' 'Medium' 'Medium' 'High' 'Medium' 'Medium']
Actual Labels: ['VeryHigh', 'VeryHigh', 'Low', 'High', 'Low', 'High', 'Medium', 'High', 'High', 'VeryLow', 'Low', 'Medium', 'Medium', 'Medium', 'Medium', 'High', 'Low', 'Medium', 'Medium', 'Low', 'Medium', 'VeryLow', 'High', 'High', 'Low', 'VeryLow', 'VeryLow', 'High', 'High', 'VeryHigh']

In [47]:
model.save_weights("static/models/district7_weights.h5")
with open('static/models/model_architecture_district7.json', 'w') as f:
    f.write(model.to_json())

In [36]:
# model.save("static/models/alldistricts.h5")

In [37]:
# model.save_weights("static/models/alldistricts_weights.h5")

In [38]:
# with open('static/models/model_architecture_alldistricts.json', 'w') as f:
#     f.write(model.to_json())

In [39]:
# from tensorflow.keras.models import load_model
# district1_model = load_model("static/models/district1.h5")

In [40]:
# district1_model.save_weights("static/models/district1_weights.h5")
# with open('static/models/model_architecture_district1.json', 'w') as f:
#     f.write(district1_model.to_json())

In [41]:
# district2_model = load_model("static/models/district2.h5")
# district2_model.save_weights("static/models/district2_weights.h5")
# with open('static/models/model_architecture_district2.json', 'w') as f:
#     f.write(district2_model.to_json())

In [42]:
# district3_model = load_model("static/models/district3.h5")
# district3_model.save_weights("static/models/district3_weights.h5")
# with open('static/models/model_architecture_district3.json', 'w') as f:
#     f.write(district3_model.to_json())

In [43]:
# district4_model = load_model("static/models/district4.h5")
# district4_model.save_weights("static/models/district4_weights.h5")
# with open('static/models/model_architecture_district4.json', 'w') as f:
#     f.write(district4_model.to_json())

In [44]:
# district5_model = load_model("static/models/district5.h5")
# district5_model.save_weights("static/models/district5_weights.h5")
# with open('static/models/model_architecture_district5.json', 'w') as f:
#     f.write(district5_model.to_json())

In [45]:
# district6_model = load_model("static/models/district6.h5")
# district6_model.save_weights("static/models/district6_weights.h5")
# with open('static/models/model_architecture_district6.json', 'w') as f:
#     f.write(district6_model.to_json())

In [46]:
# district7_model = load_model("static/models/district7.h5")
# district7_model.save_weights("static/models/district7_weights.h5")
# with open('static/models/model_architecture_district7.json', 'w') as f:
#     f.write(district7_model.to_json())