In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import log_loss
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from tensorflow.keras.utils import to_categorical
import numpy as np
 
#Load Data with pandas, and parse the first column into datetime
# train=pd.read_csv('train.csv', parse_dates = ['Dates'])
# test=pd.read_csv('test.csv', parse_dates = ['Dates'])
data=pd.read_csv('data/combined_weather_crime_lunar_final.csv')
data.head()

,Unnamed: 0,DATE,CCN,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,...,WT01,WT03,WT04,WT06,WT11,Year,Month,Date,Day,Illum
0,0,2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016,1,1,6,0.60
1,1,2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,2,7,0.50
2,2,2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016,1,3,1,0.41
3,3,2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016,1,4,2,0.32
4,4,2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016,1,5,3,0.23

In [2]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,DATE,CCN,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,...,WT01,WT03,WT04,WT06,WT11,Year,Month,Date,Day,Illum
0,2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,56.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,1,6,0.60
1,2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,46.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,2,7,0.50
2,2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,3,1,0.41
3,2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,53.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,4,2,0.32
4,2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,38.0,...,NaN,NaN,NaN,NaN,NaN,2016,1,5,3,0.23

In [7]:
data.rename(columns={"CCN": "CRIME-COUNT"}, inplace=True)

In [8]:
data['bins'] = np.nan

In [9]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,...,WT03,WT04,WT06,WT11,Year,Month,Date,Day,Illum,bins
0,2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,56.0,...,NaN,NaN,NaN,NaN,2016,1,1,6,0.60,NaN
1,2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,46.0,...,NaN,NaN,NaN,NaN,2016,1,2,7,0.50,NaN
2,2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,2016,1,3,1,0.41,NaN
3,2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,53.0,...,NaN,NaN,NaN,NaN,2016,1,4,2,0.32,NaN
4,2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,38.0,...,NaN,NaN,NaN,NaN,2016,1,5,3,0.23,NaN

In [10]:
data.loc[data['CRIME-COUNT']<75, ['bins']] = 'VeryLow'

In [11]:
data.loc[(data['CRIME-COUNT']>76) & (data['CRIME-COUNT']<90), ['bins']] = 'Low'

In [12]:
data.loc[(data['CRIME-COUNT']>91) & (data['CRIME-COUNT']<105), ['bins']] = 'Medium'

In [13]:
data.loc[(data['CRIME-COUNT']>106) & (data['CRIME-COUNT']<120), ['bins']] = 'High'

In [14]:
data.loc[(data['CRIME-COUNT']>=121, ['bins'])] = 'VeryHigh'

In [15]:
data['bins'].value_counts()

Medium      382
Low         345
High        194
VeryLow     164
VeryHigh     80
Name: bins, dtype: int64

In [16]:
data['CRIME-COUNT'].describe()

count    1320.000000
mean       93.359091
std        17.066382
min        28.000000
25%        82.000000
50%        93.000000
75%       104.000000
max       146.000000
Name: CRIME-COUNT, dtype: float64

In [17]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,...,WT03,WT04,WT06,WT11,Year,Month,Date,Day,Illum,bins
0,2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,56.0,...,NaN,NaN,NaN,NaN,2016,1,1,6,0.60,Medium
1,2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,0.0,0.0,46.0,...,NaN,NaN,NaN,NaN,2016,1,2,7,0.50,Medium
2,2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,2016,1,3,1,0.41,Medium
3,2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,53.0,...,NaN,NaN,NaN,NaN,2016,1,4,2,0.32,Low
4,2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,NaN,0.0,NaN,NaN,38.0,...,NaN,NaN,NaN,NaN,2016,1,5,3,0.23,Medium

In [18]:
data.drop(columns=["DAPR", "MDPR", "SNOW", "SNWD", 'WESD', 'WT01', 'WT03', 'WT04', 'WT06', 'WT11'])

,DATE,CRIME-COUNT,STATION,NAME,PRCP,TMAX,TMIN,TOBS,Year,Month,Date,Day,Illum,bins
0,2016-01-01,103,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,56.0,41.0,42.0,2016,1,1,6,0.60,Medium
1,2016-01-02,93,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,46.0,31.0,34.0,2016,1,2,7,0.50,Medium
2,2016-01-03,100,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,48.0,29.0,35.0,2016,1,3,1,0.41,Medium
3,2016-01-04,77,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,53.0,29.0,34.0,2016,1,4,2,0.32,Low
4,2016-01-05,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,38.0,15.0,17.0,2016,1,5,3,0.23,Medium
5,2016-01-06,88,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,34.0,16.0,22.0,2016,1,6,4,0.16,Low
6,2016-01-07,78,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,41.0,22.0,35.0,2016,1,7,5,0.09,Low
7,2016-01-08,120,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,43.0,35.0,40.0,2016,1,8,6,0.04,NaN
8,2016-01-09,89,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.01,44.0,40.0,41.0,2016,1,9,7,0.01,Low
9,2016-01-10,84,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.74,70.0,41.0,65.0,2016,1,10,1,0.00,Low
10,2016-01-11,107,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,65.0,28.0,29.0,2016,1,11,2,0.02,High
11,2016-01-12,94,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,42.0,25.0,32.0,2016,1,12,3,0.06,Medium
12,2016-01-13,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,47.0,21.0,21.0,2016,1,13,4,0.12,Medium
13,2016-01-14,92,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,31.0,21.0,26.0,2016,1,14,5,0.20,Medium
14,2016-01-15,119,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,53.0,26.0,31.0,2016,1,15,6,0.30,High
15,2016-01-16,109,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.35,52.0,30.0,43.0,2016,1,16,7,0.41,High
16,2016-01-17,81,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,53.0,32.0,37.0,2016,1,17,1,0.53,Low
17,2016-01-18,68,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.05,38.0,17.0,19.0,2016,1,18,2,0.64,VeryLow
18,2016-01-19,89,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,25.0,15.0,16.0,2016,1,19,3,0.74,Low
19,2016-01-20,71,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,28.0,16.0,20.0,2016,1,20,4,0.83,VeryLow
20,2016-01-21,95,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.04,31.0,20.0,23.0,2016,1,21,5,0.91,Medium
21,2016-01-22,63,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,34.0,20.0,25.0,2016,1,22,6,0.96,VeryLow
22,2016-01-23,28,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,29.0,22.0,24.0,2016,1,23,7,0.99,VeryLow
23,2016-01-24,38,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,35.0,18.0,24.0,2016,1,24,1,1.00,VeryLow
24,2016-01-25,36,USC00186350,"NATIONAL ARBORETUM DC, MD US",NaN,35.0,11.0,14.0,2016,1,25,2,0.99,VeryLow
25,2016-01-26,62,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,44.0,14.0,38.0,2016,1,26,3,0.95,VeryLow
26,2016-01-27,73,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,53.0,38.0,39.0,2016,1,27,4,0.90,VeryLow
27,2016-01-28,78,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,43.0,18.0,23.0,2016,1,28,5,0.84,Low
28,2016-01-29,91,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,43.0,23.0,30.0,2016,1,29,6,0.76,NaN
29,2016-01-30,94,USC00186350,"NATIONAL ARBORETUM DC, MD US",0.00,42.0,20.0,24.0,2016,1,30,7,0.68,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290,2019-07-14,99,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,14,1,0.93,Medium
1291,2019-07-15,110,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,15,2,0.97,High
1292,2019-07-16,84,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,16,3,1.00,Low
1293,2019-07-17,97,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,17,4,1.00,Medium
1294,2019-07-18,73,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,18,5,0.98,VeryLow
1295,2019-07-19,88,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,19,6,0.95,Low
1296,2019-07-20,95,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,20,7,0.90,Medium
1297,2019-07-21,88,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,21,1,0.84,Low
1298,2019-07-22,114,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,22,2,0.76,High
1299,2019-07-23,96,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,23,3,0.68,Medium
1300,2019-07-24,104,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,24,4,0.58,Medium
1301,2019-07-25,106,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,25,5,0.49,NaN
1302,2019-07-26,122,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,26,6,0.39,VeryHigh
1303,2019-07-27,118,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,27,7,0.29,High
1304,2019-07-28,109,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,28,1,0.20,High
1305,2019-07-29,106,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,29,2,0.12,NaN
1306,2019-07-30,123,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,30,3,0.05,VeryHigh
1307,2019-07-31,90,NaN,NaN,NaN,NaN,NaN,NaN,2019,7,31,4,0.01,NaN
1308,2019-08-01,77,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,1,5,0.00,Low
1309,2019-08-02,85,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,2,6,0.02,Low
1310,2019-08-03,92,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,3,7,0.07,Medium
1311,2019-08-04,90,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,4,1,0.14,NaN
1312,2019-08-05,108,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,5,2,0.23,High
1313,2019-08-06,90,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,6,3,0.33,NaN
1314,2019-08-07,98,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,7,4,0.44,Medium
1315,2019-08-08,95,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,8,5,0.55,Medium
1316,2019-08-09,94,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,9,6,0.66,Medium
1317,2019-08-10,85,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,10,7,0.75,Low
1318,2019-08-11,78,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,11,1,0.83,Low
1319,2019-08-12,93,NaN,NaN,NaN,NaN,NaN,NaN,2019,8,12,2,0.90,Medium

In [19]:
X = data.drop("bins", axis=1)
y = data["bins"]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

ValueError: Input contains NaN

In [60]:
data.columns

Index(['DATE', 'CRIME-COUNT', 'STATION', 'NAME', 'DAPR', 'MDPR', 'PRCP',
       'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'WESD', 'WT01', 'WT03', 'WT04',
       'WT06', 'WT11', 'Year', 'Month', 'Date', 'Day', 'Illum', 'bins'],
      dtype='object')

0       NaN
1       0.0
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      0.0
13      NaN
14      NaN
15      NaN
16      0.0
17      NaN
18      NaN
19      NaN
20      1.2
21      0.0
22      NaN
23      NaN
24      NaN
25      NaN
26      0.0
27      0.0
28      0.0
29      NaN
       ...
1290    NaN
1291    NaN
1292    NaN
1293    NaN
1294    NaN
1295    NaN
1296    NaN
1297    NaN
1298    NaN
1299    NaN
1300    NaN
1301    NaN
1302    NaN
1303    NaN
1304    NaN
1305    NaN
1306    NaN
1307    NaN
1308    NaN
1309    NaN
1310    NaN
1311    NaN
1312    NaN
1313    NaN
1314    NaN
1315    NaN
1316    NaN
1317    NaN
1318    NaN
1319    NaN
Name: SNOW, Length: 1320, dtype: float64