In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import log_loss
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from tensorflow.keras.utils import to_categorical
import numpy as np
 
#Load Data with pandas, and parse the first column into datetime
# train=pd.read_csv('train.csv', parse_dates = ['Dates'])
# test=pd.read_csv('test.csv', parse_dates = ['Dates'])
data=pd.read_csv('data/complete_weather_crime_lunar_08-19.csv')
data.head()

/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Unnamed: 0,index,DATE,CCN,STATION,NAME,AWND,PRCP,SNOW,SNWD,...,WT16,WT17,WT18,WT21,WT22,Day,Date,Month,Year,Illum
0,0,0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3,1,1,2008,0.42
1,1,1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,6,1,2,2008,0.32
2,2,2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7,1,3,2008,0.40
3,3,3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3,1,4,2008,0.28
4,4,4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,5,1,5,2008,0.24

In [2]:
data.drop(data.columns[[0, 1]], axis=1, inplace=True)
data.head()

,DATE,CCN,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,...,WT16,WT17,WT18,WT21,WT22,Day,Date,Month,Year,Illum
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,...,0.0,0.0,0.0,0.0,0.0,3,1,1,2008,0.42
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,...,0.0,0.0,1.0,0.0,0.0,6,1,2,2008,0.32
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,...,0.0,0.0,0.0,0.0,0.0,7,1,3,2008,0.40
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,...,0.0,0.0,0.0,0.0,0.0,3,1,4,2008,0.28
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,...,1.0,0.0,0.0,0.0,0.0,5,1,5,2008,0.24

In [3]:
data.rename(columns={"CCN": "CRIME-COUNT"}, inplace=True)

In [4]:
data['bins'] = np.nan

In [5]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,...,WT17,WT18,WT21,WT22,Day,Date,Month,Year,Illum,bins
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,...,0.0,0.0,0.0,0.0,3,1,1,2008,0.42,NaN
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,...,0.0,1.0,0.0,0.0,6,1,2,2008,0.32,NaN
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,...,0.0,0.0,0.0,0.0,7,1,3,2008,0.40,NaN
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,...,0.0,0.0,0.0,0.0,3,1,4,2008,0.28,NaN
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,...,0.0,0.0,0.0,0.0,5,1,5,2008,0.24,NaN

In [ ]:
# data.loc[data['CRIME-COUNT']<=75, ['bins']] = 'VeryLow'

In [ ]:
# data.loc[(data['CRIME-COUNT']>=76) & (data['CRIME-COUNT']<=90), ['bins']] = 'Low'

In [ ]:
# data.loc[(data['CRIME-COUNT']>=91) & (data['CRIME-COUNT']<=105), ['bins']] = 'Medium'

In [ ]:
# data.loc[(data['CRIME-COUNT']>=106) & (data['CRIME-COUNT']<=120), ['bins']] = 'High'

In [ ]:
# data.loc[(data['CRIME-COUNT']>=121, ['bins'])] = 'VeryHigh'

In [6]:
data.loc[data['CRIME-COUNT']<=80, ['bins']] = 'Low'

In [7]:
data.loc[(data['CRIME-COUNT']>=81) & (data['CRIME-COUNT']<=100), ['bins']] = 'Medium'

In [8]:
data.loc[data['CRIME-COUNT']>=101, ['bins']] = 'High'

In [9]:
data['bins'].value_counts()

Medium    1752
High      1521
Low        927
Name: bins, dtype: int64

In [10]:
data['CRIME-COUNT'].describe()

count    4200.000000
mean       94.433810
std        18.374149
min        16.000000
25%        82.000000
50%        94.000000
75%       106.000000
max       163.000000
Name: CRIME-COUNT, dtype: float64

In [11]:
data.isnull().any()

DATE           False
CRIME-COUNT    False
STATION        False
NAME           False
AWND           False
PRCP           False
SNOW           False
SNWD           False
TMAX           False
TMIN           False
WDF2           False
WDF5           False
WSF2           False
WSF5           False
WT01           False
WT02           False
WT03           False
WT04           False
WT05           False
WT06           False
WT07           False
WT08           False
WT09           False
WT11           False
WT13           False
WT14           False
WT15           False
WT16           False
WT17           False
WT18           False
WT21           False
WT22           False
Day            False
Date           False
Month          False
Year           False
Illum          False
bins           False
dtype: bool

In [12]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,...,WT17,WT18,WT21,WT22,Day,Date,Month,Year,Illum,bins
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,...,0.0,0.0,0.0,0.0,3,1,1,2008,0.42,Low
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,...,0.0,1.0,0.0,0.0,6,1,2,2008,0.32,Low
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,...,0.0,0.0,0.0,0.0,7,1,3,2008,0.40,Low
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,...,0.0,0.0,0.0,0.0,3,1,4,2008,0.28,Low
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,...,0.0,0.0,0.0,0.0,5,1,5,2008,0.24,Medium

In [13]:
X = data.drop(["bins", "DATE", "STATION", "NAME", "CRIME-COUNT", "Year"], axis=1)
y = data["bins"]

In [14]:
data.head()

,DATE,CRIME-COUNT,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,...,WT17,WT18,WT21,WT22,Day,Date,Month,Year,Illum,bins
0,2008-01-01,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",13.42,0.0,0.0,0.0,54.0,36.0,...,0.0,0.0,0.0,0.0,3,1,1,2008,0.42,Low
1,2008-01-02,66,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",18.34,0.0,0.0,0.0,38.0,25.0,...,0.0,1.0,0.0,0.0,6,1,2,2008,0.32,Low
2,2008-01-03,75,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",10.74,0.0,0.0,0.0,34.0,22.0,...,0.0,0.0,0.0,0.0,7,1,3,2008,0.40,Low
3,2008-01-04,65,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",5.82,0.0,0.0,0.0,41.0,21.0,...,0.0,0.0,0.0,0.0,3,1,4,2008,0.28,Low
4,2008-01-05,88,USW00013743,"WASHINGTON REAGAN NATIONAL AIRPORT, VA US",3.58,0.0,0.0,0.0,43.0,28.0,...,0.0,0.0,0.0,0.0,5,1,5,2008,0.24,Medium

In [15]:
# X['TMAX'] = X['TMAX'].astype(float)
# X['TMIN'] = X['TMIN'].astype(float)
# X['Month'] = X['Month'].astype(float)
# X['Date'] = X['Date'].astype(float)
# X['Day'] = X['Illum'].astype(float)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [17]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [19]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [21]:
model = Sequential()
model.add(Dense(units=300, activation='relu', input_dim=32))
model.add(Dropout(.2))
# model.add(Dense(units=400, activation='sigmoid'))
# model.add(Dense(units=400, activation='tanh'))
# model.add(Dropout(.2))
# model.add(Dense(units=200, activation='relu'))
# model.add(Dropout(.1))
# model.add(Dense(units=100, activation='tanh'))
# model.add(Dropout(.2))
model.add(Dense(units=3, activation='softmax'))

WARNING: Logging before flag parsing goes to stderr.
W0820 20:53:12.983766 4661499328 deprecation.py:506] From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [22]:
model.compile(optimizer='nadam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 300)               9900
_________________________________________________________________
dropout (Dropout)            (None, 300)               0
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 903
=================================================================
Total params: 10,803
Trainable params: 10,803
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
3150/3150 - 0s - loss: 1.0120 - acc: 0.4597
Epoch 2/100
3150/3150 - 0s - loss: 0.9513 - acc: 0.5105
Epoch 3/100
3150/3150 - 0s - loss: 0.9282 - acc: 0.5298
Epoch 4/100
3150/3150 - 0s - loss: 0.9197 - acc: 0.5286
Epoch 5/100
3150/3150 - 0s - loss: 0.9112 - acc: 0.5365
Epoch 6/100
3150/3150 - 0s - loss: 0.9029 - acc: 0.5479
Epoch 7/100
3150/3150 - 0s - loss: 0.8976 - acc: 0.5451
Epoch 8/100
3150/3150 - 0s - loss: 0.8959 - acc: 0.5435
Epoch 9/100
3150/3150 - 0s - loss: 0.8877 - acc: 0.5530
Epoch 10/100
3150/3150 - 0s - loss: 0.8820 - acc: 0.5619
Epoch 11/100
3150/3150 - 0s - loss: 0.8784 - acc: 0.5619
Epoch 12/100
3150/3150 - 0s - loss: 0.8749 - acc: 0.5714
Epoch 13/100
3150/3150 - 0s - loss: 0.8683 - acc: 0.5654
Epoch 14/100
3150/3150 - 0s - loss: 0.8679 - acc: 0.5717
Epoch 15/100
3150/3150 - 0s - loss: 0.8657 - acc: 0.5689
Epoch 16/100
3150/3150 - 0s - loss: 0.8620 - acc: 0.5743
Epoch 17/100
3150/3150 - 0s - loss: 0.8581 - acc: 0.5800
Epoch 18/100
3150/3150 - 0s - loss: 0.8552 - acc: 0.5844
Epoch 19/100
3150/3150 - 0s - loss: 0.8516 - acc: 0.5778
Epoch 20/100
3150/3150 - 0s - loss: 0.8459 - acc: 0.5883
Epoch 21/100
3150/3150 - 0s - loss: 0.8453 - acc: 0.5813
Epoch 22/100
3150/3150 - 0s - loss: 0.8425 - acc: 0.5784
Epoch 23/100
3150/3150 - 0s - loss: 0.8400 - acc: 0.5956
Epoch 24/100
3150/3150 - 0s - loss: 0.8384 - acc: 0.6000
Epoch 25/100
3150/3150 - 0s - loss: 0.8365 - acc: 0.5952
Epoch 26/100
3150/3150 - 0s - loss: 0.8324 - acc: 0.5898
Epoch 27/100
3150/3150 - 0s - loss: 0.8307 - acc: 0.5975
Epoch 28/100
3150/3150 - 0s - loss: 0.8308 - acc: 0.5905
Epoch 29/100
3150/3150 - 0s - loss: 0.8266 - acc: 0.6016
Epoch 30/100
3150/3150 - 0s - loss: 0.8208 - acc: 0.6025
Epoch 31/100
3150/3150 - 0s - loss: 0.8221 - acc: 0.6060
Epoch 32/100
3150/3150 - 0s - loss: 0.8234 - acc: 0.6041
Epoch 33/100
3150/3150 - 0s - loss: 0.8161 - acc: 0.6114
Epoch 34/100
3150/3150 - 0s - loss: 0.8160 - acc: 0.6095
Epoch 35/100
3150/3150 - 0s - loss: 0.8122 - acc: 0.6048
Epoch 36/100
3150/3150 - 0s - loss: 0.8084 - acc: 0.6149
Epoch 37/100
3150/3150 - 0s - loss: 0.8056 - acc: 0.6184
Epoch 38/100
3150/3150 - 0s - loss: 0.8064 - acc: 0.6108
Epoch 39/100
3150/3150 - 0s - loss: 0.8031 - acc: 0.6210
Epoch 40/100
3150/3150 - 0s - loss: 0.7979 - acc: 0.6267
Epoch 41/100
3150/3150 - 0s - loss: 0.7987 - acc: 0.6225
Epoch 42/100
3150/3150 - 0s - loss: 0.7959 - acc: 0.6260
Epoch 43/100
3150/3150 - 0s - loss: 0.7928 - acc: 0.6181
Epoch 44/100
3150/3150 - 0s - loss: 0.7953 - acc: 0.6248
Epoch 45/100
3150/3150 - 0s - loss: 0.7923 - acc: 0.6235
Epoch 46/100
3150/3150 - 0s - loss: 0.7891 - acc: 0.6235
Epoch 47/100
3150/3150 - 0s - loss: 0.7832 - acc: 0.6311
Epoch 48/100
3150/3150 - 0s - loss: 0.7843 - acc: 0.6251
Epoch 49/100
3150/3150 - 0s - loss: 0.7815 - acc: 0.6251
Epoch 50/100
3150/3150 - 0s - loss: 0.7822 - acc: 0.6317
Epoch 51/100
3150/3150 - 0s - loss: 0.7807 - acc: 0.6324
Epoch 52/100
3150/3150 - 0s - loss: 0.7740 - acc: 0.6346
Epoch 53/100
3150/3150 - 0s - loss: 0.7760 - acc: 0.6346
Epoch 54/100
3150/3150 - 0s - loss: 0.7765 - acc: 0.6292
Epoch 55/100
3150/3150 - 0s - loss: 0.7722 - acc: 0.6378
Epoch 56/100
3150/3150 - 0s - loss: 0.7747 - acc: 0.6289
Epoch 57/100
3150/3150 - 0s - loss: 0.7712 - acc: 0.6302
Epoch 58/100
3150/3150 - 0s - loss: 0.7753 - acc: 0.6317
Epoch 59/100
3150/3150 - 0s - loss: 0.7671 - acc: 0.6365
Epoch 60/100
3150/3150 - 0s - loss: 0.7610 - acc: 0.6400
Epoch 61/100
3150/3150 - 0s - loss: 0.7644 - acc: 0.6337
Epoch 62/100
3150/3150 - 0s - loss: 0.7636 - acc: 0.6413
Epoch 63/100
3150/3150 - 0s - loss: 0.7599 - acc: 0.6486
Epoch 64/100
3150/3150 - 0s - loss: 0.7620 - acc: 0.6435
Epoch 65/100
3150/3150 - 0s - loss: 0.7583 - acc: 0.6403
Epoch 66/100
3150/3150 - 0s - loss: 0.7642 - acc: 0.6394
Epoch 67/100
3150/3150 - 0s - loss: 0.7544 - acc: 0.6492
Epoch 68/100
3150/3150 - 0s - loss: 0.7548 - acc: 0.6467
Epoch 69/100
3150/3150 - 0s - loss: 0.7523 - acc: 0.6467
Epoch 70/100
3150/3150 - 0s - loss: 0.7566 - acc: 0.6432
Epoch 71/100
3150/3150 - 0s - loss: 0.7582 - acc: 0.6416
Epoch 72/100
3150/3150 - 0s - loss: 0.7539 - acc: 0.6467
Epoch 73/100
3150/3150 - 0s - loss: 0.7556 - acc: 0.6457
Epoch 74/100
3150/3150 - 0s - loss: 0.7530 - acc: 0.6387
Epoch 75/100
3150/3150 - 0s - loss: 0.7496 - acc: 0.6486
Epoch 76/100
3150/3150 - 0s - loss: 0.7468 - acc: 0.6530
Epoch 77/100
3150/3150 - 0s - loss: 0.7447 - acc: 0.6505
Epoch 78/100
3150/3150 - 0s - loss: 0.7380 - acc: 0.6603
Epoch 79/100
3150/3150 - 0s - loss: 0.7422 - acc: 0.6644
Epoch 80/100
3150/3150 - 0s - loss: 0.7440 - acc: 0.6533
Epoch 81/100
3150/3150 - 0s - loss: 0.7419 - acc: 0.6597
Epoch 82/100
3150/3150 - 0s - loss: 0.7446 - acc: 0.6508
Epoch 83/100
3150/3150 - 0s - loss: 0.7425 - acc: 0.6463
Epoch 84/100
3150/3150 - 0s - loss: 0.7375 - acc: 0.6511
Epoch 85/100
3150/3150 - 0s - loss: 0.7313 - acc: 0.6511
Epoch 86/100
3150/3150 - 0s - loss: 0.7368 - acc: 0.6556
Epoch 87/100
3150/3150 - 0s - loss: 0.7307 - acc: 0.6537
Epoch 88/100
3150/3150 - 0s - loss: 0.7388 - acc: 0.6517
Epoch 89/100
3150/3150 - 0s - loss: 0.7274 - acc: 0.6670
Epoch 90/100
3150/3150 - 0s - loss: 0.7344 - acc: 0.6571
Epoch 91/100
3150/3150 - 0s - loss: 0.7306 - acc: 0.6600
Epoch 92/100
3150/3150 - 0s - loss: 0.7307 - acc: 0.6606
Epoch 93/100
3150/3150 - 0s - loss: 0.7297 - acc: 0.6660
Epoch 94/100
3150/3150 - 0s - loss: 0.7295 - acc: 0.6597
Epoch 95/100
3150/3150 - 0s - loss: 0.7213 - acc: 0.6581
Epoch 96/100
3150/3150 - 0s - loss: 0.7271 - acc: 0.6657
Epoch 97/100
3150/3150 - 0s - loss: 0.7242 - acc: 0.6635
Epoch 98/100
3150/3150 - 0s - loss: 0.7226 - acc: 0.6635
Epoch 99/100
3150/3150 - 0s - loss: 0.7260 - acc: 0.6549
Epoch 100/100
3150/3150 - 0s - loss: 0.7230 - acc: 0.6648

In [ ]:
# X_train_scaled

In [ ]:
# y_train_categorical.shape

In [25]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

1050/1050 - 0s - loss: 0.9739 - acc: 0.5562
Normal Neural Network - Loss: 0.9739350749197461, Accuracy: 0.5561904907226562

In [26]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [27]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['High' 'Low' 'High' 'Medium' 'Medium' 'High' 'Medium' 'Medium' 'High'
 'High']
Actual Labels: ['Low', 'Low', 'Medium', 'Medium', 'Low', 'Medium', 'Low', 'High', 'Medium', 'Medium']