In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint

In [68]:
query_url = "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/1/query?where=START_DATE>DATE'2019-08-15 00:00:00'&outFields=CCN,START_DATE,DISTRICT&outSR=4326&f=json"

START_DATE =[]
CCN=[]
DISTRICT =[]

response = requests.get(query_url).json()['features']
for x in response:
    try:
        CCN.append(x['attributes']['CCN'])
        START_DATE.append(x['attributes']['START_DATE'])
        DISTRICT.append(x['attributes']['DISTRICT'])
    except (KeyError, IndexError):
        print(KeyError, IndexError)

In [69]:
# create a data frame from crime data
crime_dict = {
    "START_DATE": START_DATE,
    "CCN": CCN,
    "DISTRICT": DISTRICT
}
crime_df = pd.DataFrame(crime_dict)

crime_df['START_DATE_TRF']=pd.DatetimeIndex(pd.to_datetime(crime_df['START_DATE'], unit='ms'))\
                 .tz_localize('UTC' )\
                 .tz_convert('America/New_York')

crime_df['START_DATE_TRF'] = pd.to_datetime(crime_df['START_DATE_TRF']).dt.date
crime_df

        START_DATE       CCN DISTRICT START_DATE_TRF
0    1565837075000  19143994        1     2019-08-14
1    1565846158000  19144015        2     2019-08-15
2    1565840454000  19144016        6     2019-08-14
3    1565847049000  19144021        5     2019-08-15
4    1565852440000  19144051        2     2019-08-15
5    1565851224000  19144052        1     2019-08-15
6    1565857055000  19144068        3     2019-08-15
7    1565858415000  19144075        2     2019-08-15
8    1565859798000  19144080        2     2019-08-15
9    1565861067000  19144100        4     2019-08-15
10   1565864262000  19144124        2     2019-08-15
11   1565865514000  19144134        6     2019-08-15
12   1565870005000  19144178        6     2019-08-15
13   1565870261000  19144182        1     2019-08-15
14   1565872858000  19144192        1     2019-08-15
15   1566165601000  19146665        1     2019-08-18
16   1566185667000  19146666        7     2019-08-18
17   1566184108000  19146667        2     2019-08-18
18   1566188821000  19146669        6     2019-08-19
19   1566082847000  19146677        2     2019-08-17
20   1566010834000  19146693        3     2019-08-16
21   1566204042000  19146696        3     2019-08-19
22   1566203537000  19146698        2     2019-08-19
23   1566205237000  19146701        6     2019-08-19
24   1566203781000  19146703        3     2019-08-19
25   1566167417000  19146707        7     2019-08-18
26   1566156612000  19146712        1     2019-08-18
27   1566208579000  19146726        3     2019-08-19
28   1566206207000  19146734        6     2019-08-19
29   1566097252000  19146752        5     2019-08-17
..             ...       ...      ...            ...
606  1565914860000  19144646        2     2019-08-15
607  1565913931000  19144652        6     2019-08-15
608  1565914427000  19144656        3     2019-08-15
609  1565901015000  19144657        3     2019-08-15
610  1565912709000  19144660        2     2019-08-15
611  1565915887000  19144664        6     2019-08-15
612  1565901947000  19144669        3     2019-08-15
613  1565916015000  19144672        6     2019-08-15
614  1565910045000  19144680        1     2019-08-15
615  1565924323000  19144696        1     2019-08-15
616  1565924350000  19144700        6     2019-08-15
617  1565931994000  19144723        5     2019-08-16
618  1565935513000  19144730        2     2019-08-16
619  1566228650000  19147107        7     2019-08-19
620  1565973071000  19145026        6     2019-08-16
621  1565935236000  19145030        4     2019-08-16
622  1565972341000  19145032        3     2019-08-16
623  1565972891000  19145037        2     2019-08-16
624  1565964080000  19145038        3     2019-08-16
625  1565899232000  19145039        5     2019-08-15
626  1565881241000  19145041        2     2019-08-15
627  1565974579000  19145049        4     2019-08-16
628  1566014356000  19145455        4     2019-08-16
629  1566015953000  19145464        7     2019-08-17
630  1565993422000  19145466        2     2019-08-16
631  1566016257000  19145468        3     2019-08-17
632  1566000087000  19145470        4     2019-08-16
633  1566018643000  19145472        3     2019-08-17
634  1566021685000  19145479        5     2019-08-17
635  1566030151000  19145496        7     2019-08-17

[636 rows x 4 columns]

In [73]:
reduced_crime_df = crime_df[['START_DATE_TRF','CCN','DISTRICT']]
reduced_crime_df = pd.DataFrame(reduced_crime_df) 
reduced_crime_df

reduced_crime_df.groupby(['START_DATE_TRF','DISTRICT']).count()

                         CCN
START_DATE_TRF DISTRICT
2019-08-14     1           2
               2           1
               3           1
               6           1
               7           1
2019-08-15     1          15
               2          23
               3          19
               4           8
               5          11
               6          12
               7           9
2019-08-16     1          16
               2          29
               3          31
               4          15
               5          20
               6           9
               7          11
2019-08-17     1          11
               2          21
               3          25
               4           7
               5           8
               6           5
               7           9
2019-08-18     1          12
               2          18
               3          17
               4           5
               5          13
               6          14
               7           5
2019-08-19     1          13
               2          26
               3          18
               4           8
               5          12
               6          17
               7           5
2019-08-20     1          12
               2          10
               3          12
               4           7
               5          10
               6          12
               7           6
2019-08-21     1          10
               2          15
               3          11
               4           8
               5           9
               6           4
               7           7